{% extends "base.html" %}

{% block content %}
<style>
    /* CSS khusus untuk memposisikan form login di tengah */
    .page-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Membuat form menempati seluruh tinggi viewport */
    }

    
</style>
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Login</h2>
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
