<!-- templates/evaluate.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Evaluasi Model</h2>
    <div class="card">
        <div class="card-body">
            <p>{{ session['evaluation_result'] }}</p>
            
            {% if session['confusion_matrix'] %}
                <h4>Confusion Matrix</h4>
                <img src="{{ url_for('static', filename='uploads/confusion_matrix.png') }}" alt="Confusion Matrix">
            {% else %}
                <p>Confusion Matrix tidak tersedia.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
